@media (max-width: 768px) {
  .hero-content {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    width: 100%;
  }

  .hero-content-information {
    padding-bottom: 30px;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .hero-content {
    display: flex;
    margin: auto;
    min-width: 768px;
    width: 55%;
  }

  .hero-content-image {
    width: 60%;
  }

  .hero-content-information {
    width: 40%;
    padding-right: 30px;
  }
}

.hero {
  background-color: var(--main-green);
  display: flex;
  padding: 30px 0;
  width: 100%;
}

.hero-content-information-title {
  color: var(--main-yellow);
  font-size: 42px;
  margin: 0;
}

.hero-content-information-subtitle {
  color: white;
  font-size: 28px;
  font-weight: 400;
  margin: 10px 0;
}

.hero-content-information-description {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.hero-content-image-pic {
  border-radius: 16px;
  width: 100%;
}
