@media (max-width: 768px) {
  .main-content {
    margin: auto;
  }
}

@media (min-width: 768px) {
  .main-content {
    margin: auto;
    min-width: 768px;
    width: 60%;
  }
}

.main {
  width: 100%;
}
