@media (max-width: 768px) {
  .header-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px 0;
    width: 100%;
  }

  .header-content-logo {
    margin-left: 15px;
  }
}

@media (min-width: 768px) {
  .header-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: auto;
    padding: 10px 0;
    min-width: 768px;
    width: 60%;
  }
}

.header {
  background-color: white;
  width: 100%;
}
