:root {
  --very-light-gray: #f3f3f3;
  --light-gray: #eaeaea;
  --medium-gray: #8c8c8c;
  --dark-gray: #555555;
  --very-dark-gray: #353535;
  --main-green: #495e57;
  --main-yellow: #f4ce14;
  --taken-red: rgba(200, 30, 10, 0.2);
  --white: #ffffff;
}
