@media (max-width: 768px) {
  .link-list-desktop {
    display: none;
  }

  .link-list-mobile {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin-right: 15px;
  }

  .link-list-mobile-panel {
    background-color: rgba(222, 222, 222, 1);
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .link-list-mobile-panel-close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .link-list-mobile-panel-close-icon {
    margin: 20px;
  }

  .link-list-mobile-icon {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .link-list-mobile-panel-item {
    list-style-type: none;
    margin: 25px 10px;
  }

  .link-list-mobile-panel-item-text {
    color: var(--main-green);
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
  }

  .link-list-mobile-panel-item-text:hover {
    color: var(--main-yellow);
    transition: all 200ms ease-in;
  }
}

@media (min-width: 768px) {
  .link-list-mobile {
    display: none;
  }

  .link-list-desktop {
    display: flex;
    justify-content: flex-end;
  }

  .link-list-desktop-item {
    cursor: pointer;
    list-style-type: none;
    margin: 0 10px;
  }

  .link-list-desktop-item-text {
    color: var(--main-green);
    font-weight: 500;
    text-decoration: none;
  }

  .link-list-desktop-item-text:hover {
    color: var(--main-yellow);
    transition: all 200ms ease-in;
  }

  .link-list-desktop-cart-bubble {
    align-items: center;
    background-color: var(--main-yellow);
    border-radius: 50%;
    color: var(--main-green);
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    height: 15px;
    position: relative;
    top: -8px;
    right: -12px;
    width: 15px;
  }
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
}
